
/* Regole universali */

body{
  font-family: 'Roboto', sans-serifs
}

/* COLORI DI SFONDO */

.white_bg{
  background-color: #fff
}

.lighter_blue_bg{
  background-color: #f3f5f9
}

/* COLORI DEL TESTO */

  .dark_blue_txt{
    color: #031c4e
  }

  .light_blue_text{
    color: #006aff
  }

  .white_txt{
    color: #fff
  }

  .shallow_txt{
   color: #bbcdff
  }

  .violet_txt{
    color: #77839C
  }

/* TYPO */

.chevron_down{
  font-size: 13px;
  padding-left: 2px
}

.chevron_right{
  font-size: 10px;
  padding-left: 8px
}

#header_top a{
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  color: #031c4e
}

#header_top a:hover,
#header_top a:visited,
#header_top a:focus{
  color: #031c4e;
  text-decoration: none;
}

h1{
  margin: 0;
  color: white;
  font-size: 54px
}

h2{
  margin: 0;
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  color: #031c4e;
}

h3{
  margin: 0;
  padding: 8px 0 3px 0;
  font-size: 28px;
  font-weight: bold;
  color: #031c4e
}

h5{
  margin: 0;
  color: #6f7b97;
  font-size:18px
}

p{
  padding: 25px 0;
  font-size: 20px;
  font-weight: 500;
  color: #77839C;
}

/* BOTTONI */

.btn{
  background-color: transparent;
  color: #006aff;
  border: 1px solid #006aff;
  font-size: 13px;
  font-weight: 500;
  padding: none;
  padding: 6px 10px
}

.btn:focus{
  border: 1px solid #006aff;
}

.wide_btn{
  width:100%;
  padding: 3px 10px;
  margin: 6px 0;
  background-color: #579aff;
  border-color: #579aff;
  color: #fff
}

.google{
  background-color: transparent;
  border:transparent;
  color: #626262;
  box-shadow: 1px 1px 2px #888888;
  background-image: url(../img/google.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 2%;
  background-position-y: 50%;
}

.burger_btn{
  border:none;
  font-size: 16px
}

/* MIX */

.custom_input{
  height: 38px;
  width:100%;
  line-height: 30px;
  background-color: transparent;
  border: 2px solid #eeeeee;
  color: #757575;
  margin: 4px 0
}

span.disclaimer{
  display: inline-block;
  margin: 10px 0;
  color: #626262;
  font-size: 11px;
  font-weight: 500;
}

a.disclaimer{
  font-size: 11px;
  text-decoration: underline;
  color: #006aff;
  font-weight: 600;
}

a.main_link{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 0;
  color: #006aff
}

.standard_box{
  padding: 10px 0;
}

.box_img{
  margin: 10px 0;

}

.box_title{
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color:#031c4e
}

.box_p{
  font-size: 14px;
  color:#5c6a88;
  line-height: 20px;
  padding: 0;
}



/* HEADER */

/* Header Top */

#header_top{
  line-height: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20
}

.header_top_img{
  max-height: 25px;
  margin-bottom: 3px
}

/* Header Hero */

#header_hero{
  margin-top: 60px;
  background-image: url(../img/hero.svg);
  background-size: cover;
  background-position-y: 100%
}

.main_title_box{
  padding: 70px 0
}

.hero_form_box{
  max-width:450px;
  border-radius: 3px;
  margin-top: 65px;
  padding: 24px 20px;
  position: relative;
  left: 100px
}

/* MAIN */

/* Main Partners */

#partners{
  padding: 50px 0
}


.partners_title{
  padding: 40px 0 20px 0
}

.sponsor_box{
  padding: 5px 50px
}

.sponsor_img{
  width: calc((100% / 6) - 3px);
  padding: 0px 5px
}

/* Main Deploy */

#deploy{
  padding: 50px 0
}

.menu_list{
  list-style: none;
  border-left: 2px solid #5c6a88;
  margin-top: 30px;
  padding-left: 12px;
  margin-left: 100px;
  font-size: 22px;
  color:#5c6a88;
}

.menu_list a,
.menu_list a:hover,
.menu_list a:focus{
  color:#5c6a88;
  text-decoration: none;
}

.menu_list li{
  line-height: 50px
}

/* Main Designed */

#designed{
  padding: 50px 0
}

.carousel_box,
.arrow_box{
  display: inline-block;
  vertical-align: middle;
}

.arrow_box{
  width: calc(25% - 4px);
  padding: 0 20px 80px;
}

.carousel_chevron_left,
.carousel_chevron_right{
  font-size: 30px;
  font-weight: 600;
  color: color: #031c4e
}

a .carousel_chevron_left,
a .carousel_chevron_right{
  color: color: #031c4e
}

.carousel_box{
  width: calc(50% - 4px)
}

.carousel_box img{
  width: 100%;
}

.carousel_text{
  padding:0;
  padding: 15px 0 5px 0;
  margin:0
}

ul.carousel_bullets li{
  padding:0;
}

.bullet,
.empty_bullet{
  color: #006aff;
  font-size: 12px;
  padding: 0 2px;
}

/* Main Features */

#features{
  padding: 50px 0
}

/* MEDIA QUERY PER STILE */

/* --------------------------------------- */
/* < 1200 px */

@media screen and (max-width: 1200px){

/* HEADER */

/* Header Hero */

  .hero_form_box{
    max-width: 300px
  }

}

/* MAIN */


/* -------------------------------------- */
/* < 992 px */

@media screen and (max-width: 992px){

/* HEADER */

/* Header Hero */

  #header_hero{
    padding-bottom: 70px
  }

  .hero_form_box{
    width: 100%;
    max-width: none;
    position: static;
    padding-top: 0px;
    margin-top: 0px
  }

  .main_title_box{
    padding: 60px 0 5px 0
  }

  .main_title_box p{
    font-size: 24px
  }

  /* MAIN */

/* Main Partners */

.sponsor_img{
  width: calc((100% / 2) - 3px);
  padding: 10px 20px
}


/* Main Deploy */
.menu_list{
  margin: 0;
  margin: 10px 0 15px 0
}

/* Main Designed */

.carousel_box{
  padding-top: 50px
}


/* --------------------------------- */
/* < 767 px */

@media screen and (max-width: 767px){

/* Main Designed */

  .arrow_box{
  display: none;
}

  .carousel_box{
    display: block;
    width: 100%
  }

  .carousel > img{
    width:70%;
    min-width: 250px
  }

  .carousel_text{
    font-size: 16px;
  }

}

/* --------------------------------------- */
/* < 480 px */

@media screen and (max-width: 480px){

  /* MAIN */

  /* Main Partners */

  H5.partners_title{
    font-size: 14px
  }

  .sponsor_img{
    width: calc((100% / 2) - 2px);
    padding: 10px 10px
  }
}
