
/* Regole universali */

body{
  font-family: 'Roboto', sans-serifs
}

/* COLORI DI SFONDO */

.white_bg{
  background-color: #fff
}

.lighter_blue_bg{
  background-color: #f3f5f9
}

/* COLORI DEL TESTO */

  .dark_blue_txt{
    color: #031c4e
  }

  .light_blue_text{
    color: #006aff
  }

  .white_txt{
    color: #fff
  }

  .shallow_txt{
   color: #bbcdff
  }

/* TYPO */

.chevron_down{
  font-size: 13px;
  padding-left: 2px
}

.chevron_right{
  font-size: 10px;
  padding-left: 8px
}

header a{
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  color: #031c4e
}

h1{
  margin: 0;
  color: white;
  font-size: 54px
}

h3{
  margin: 0;
  padding: 8px 0 3px 0;
  font-size: 28px;
  font-weight: bold;
  color: #031c4e
}

h5{
  margin: 0;
  color: #6f7b97;
  font-size:18px
}

p{
  padding: 25px 0;
  font-size: 20px;
  font-weight: 500
}

/* BOTTONI */

.btn{
  background-color: transparent;
  color: #006aff;
  border: 1px solid #006aff;
  font-size: 13px;
  font-weight: 500;
  padding: none;
  padding: 6px 10px
}

.wide_btn{
  width:100%;
  padding: 3px 10px;
  margin: 6px 0;
  background-color: #579aff;
  border-color: #579aff;
  color: #fff
}

.google{
  background-color: transparent;
  border:transparent;
  color: #626262;
  box-shadow: 1px 1px 2px #888888;
  background-image: url(../img/google.png);
  background-size: 5%;
  background-repeat: no-repeat;
  background-position-x: 2%;
  background-position-y: 50%;
}

.burger_btn{
  border:none;
  font-size: 16px
}

/* MIX */

.custom_input{
  height: 38px;
  width:100%;
  line-height: 30px;
  background-color: transparent;
  border: 2px solid #eeeeee;
  color: #757575;
  margin: 4px 0
}

span.disclaimer{
  display: inline-block;
  margin: 10px 0;
  color: #626262;
  font-size: 11px;
  font-weight: 500;
}

a.disclaimer{
  font-size: 11px;
  text-decoration: underline;
}

a.main_link{
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 0;
  color: #006aff;
}

/* HEADER */

/* Header Top */

#header_top{
  line-height: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20
}

.header_top_img{
  max-height: 25px;
  margin-bottom: 3px
}

/* Header Hero */

#header_hero{
  margin-top: 60px;
  background-image: url(../img/hero.svg);
  background-size: cover;
  background-position-y: 100%
}

.main_title_box{
  padding: 70px 0
}

.hero_form_box{
  max-width:450px;
  border-radius: 3px;
  margin-top: 65px;
  padding: 24px 20px;
  position: relative;
  left: 100px
}

/* MAIN */

/* Main Partners */

.partners_title{
  padding: 40px 0 20px 0
}

.sponsor_box{
  padding: 5px 50px
}

.sponsor_img{
  width: calc((100% / 6) - 3px);
  padding: 0px 5px
}







/* MEDIA QUERY PER STILE */

/* --------------------------------------- */
/* < 1200 px */

@media screen and (max-width: 1200px){

/* HEADER */

/* Header Hero */

  .hero_form_box{
    max-width: 300px
  }

}

/* MAIN */


/* -------------------------------------- */
/* < 992 px */

@media screen and (max-width: 992px){

/* HEADER */

/* Header Hero */

  .hero_form_box{
    width: 100%;
    max-width: none;
    position: static;
    padding-top: 0px;
    margin-top: 0px
  }

  .main_title_box{
    padding: 60px 0 5px 0
  }

  .main_title_box p{
    font-size: 24px
  }

  /* MAIN */

/* Main Partners */

.sponsor_img{
  width: calc((100% / 2) - 3px);
  padding: 10px 20px
}


/* --------------------------------- */
/* < 767 px */

@media screen and (max-width: 767px){


}

/* --------------------------------------- */
/* < 480 px */

@media screen and (max-width: 480px){

  /* MAIN */

  /* Main Partners */

  H5.partners_title{
    font-size: 14px
  }

  .sponsor_img{
    width: calc((100% / 2) - 2px);
    padding: 10px 10px
  }
}
